body{
   padding-left: 80px;
   padding-right: 80px;
}
#topHeaderRow{
   background-color: #3A3A3A;
   border-radius:10px;
}
#topHeaderRow p{
   font-size: 15px;
   color:white;
   padding-top: 10px;
   
}
#logoRow{
   padding-top: 20px;
}
input{
   height:35px;
   width:235.25px;
}

#anniu{
   width: 40px; 
   height: 35px;
}
#miaoshu{
   padding-top: 95px;
}

.price{
   color:red;
   font-size: 20px;
font-weight: 900;
}
caption{
   background-color: rgb(133, 133, 133);
}
#qunide{
   padding-top: 20px;
   padding-bottom: 20px;
}
#jiage{
   color: rgb(230, 230, 96);
}
h1 { font-size: 3em; font-weight: bold; margin-top: 0;}

div#topHeaderRow {
   font-size: 0.9em;
}

.price { 

}

.similarTitle {  }

.cartText { 

}

footer {
   margin-top: 1em;
   background-color: #E7E7E7;

}

.tight-form-group {  }

#copyrightRow { 
    background-color: #3A3A3A; 

}